body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fbe4ff;
}
ul, hr {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}


.center {
  width: 85%;
  margin: 0 auto;
}
.container {
  min-height: 65px;
  justify-content: space-between;
  position: sticky;
}
.header .container {
  display: flex;
  align-items: center;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.header,
.footer {
  background-color: #243b93;
}
.header__list {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-left: 10%;
  color: #fff;
}
.header__list a:hover {
  color: #2cbdeb;
}
.header__list li {
  display: flex;
  align-items: center;
  max-width: 200px;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.header__lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  font-size: 28px;
  font-weight: 700;
  padding-top: 7px;
  padding-bottom: 7px;
  box-sizing: border-box;
}


.main {
  background-color: #bff0ff;
}
.main__strip {
  min-height: 85px;
  display: flex;
  align-items: center;
  font-size: 44px;
  font-weight: 400;
  font-style: italic;
  color: #202846;
  padding-top: 7px;
  padding-bottom: 7px;
  box-sizing: border-box;
}
.main__space {
  padding-top: 30px;
  box-sizing: border-box;
}

.main__choose {
  background-color: #fff;
  min-height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  padding-top: 7px;
  padding-bottom: 7px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.61);
}
.arrow {
  position: absolute;
  right: 15px;
}


.card {
  position: relative;
  min-height: 300px;
  background: linear-gradient(to right, #A9CBD6, #0AB1E6);
  display: flex;
  align-items: center;
  padding: 0px 50px;
  box-sizing: border-box;
  margin-bottom: 42px;
}
.card:hover .card__star, 
.card:hover {
  background: #2cbdeb;
  box-shadow: 0px 0px 60px 4px #2CBDEB;
  fill: #FFF500;
}
.card__block {
  display: flex;
  align-items: center;
}
.card__star {
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: 1;
  fill: #fff;
}
.card__block__content {
  padding-left: 30px;
  box-sizing: border-box;
}
.card__title {
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
  color: #353c57;
  border-bottom: 3px solid #fff;
  margin-bottom: 10px;
}
.card__text {
  min-height: 190px;
  background-color: #edfbff;
}
.text {
  color: #202846;
  font-size: 22px;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 100px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
.card__btn {
  position: absolute;
  right: -38px;
  bottom: 10px;
  width: 210px;
  height: 46px;
  border-radius: 30px;
  background-color: #243b93;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card:hover .card__btn,
.user__btn1:hover, 
.main__btn-exit:hover {
  background-color: #EF075B;
}

.fixed-element__btn {
  position: fixed;
  bottom: 100px;
  right: 100px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 101px;
  height: 101px;
  border-radius: 50%;
  background: rgba(48, 12, 106, 0.3);
}

.user-block {
  background: linear-gradient(to right, #FFE601, #55D6FF);
  color: #243B93;
}
.main__user {
  min-height: 500px;
  background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, .5) 100%);;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.user__btn1 {
  width: 250px;
  height: 50px;
  border-radius: 30px;
  background-color: #243b93;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.main__user__icon {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user__info {
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
}
.user__info-line {
  border-bottom: 3px solid #fff;
}
.user__info div {
  padding: 15px 0;
  box-sizing: border-box;
}
.user__info span {
  font-weight: 400;
}
.main__btn-exit {
  width: 174px;
  height: 50px;
  border-radius: 30px;
  background-color: #243b93;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 56px;
}
.contacts {
  background: linear-gradient(to right, #54D6FF, #FFE600);
  color: #243B93;
}

.contacts__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 25px;
  padding-bottom: 28px;
  box-sizing: border-box;
}

.contacts__info,
.contacts__info a {
  position: relative;
  font-weight: 400;
  font-size: 30px;
  color: #000;
}
.contacts__info span {
  font-size: 32px;
}
.contacts__info {
  width: 65%;
  min-height: 190px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__info-block {
  width: 45%;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.contacts__info-item:first-child {
  font-size: 32px;
  border-bottom: 2px solid #000;
}
.contacts__map {
  width: 30%;
  height: 290px;
  border: 2px solid #000;
  border-radius: 20px;
  overflow: hidden;
}
.footer {
  display: flex;
  align-items: center;
  min-height: 65px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
}
